<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fit.user.dao.UserDao">

    <select id="queryAllUsers" resultType="com.fit.user.dao.entity.UserEntity">
        select * from tab_user
    </select>

    <select id="queryUsersByName" parameterType="list" resultType="com.fit.user.dao.entity.UserEntity">
        select * from tab_user
        where name in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <select id="querySthUsersByName" resultType="com.fit.user.dao.entity.UserEntity">
        select ${columns} from tab_user
        where name in
        <foreach item="item" index="index" collection="names" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <select id="queryUsersByMap" parameterType="map" resultType="com.fit.user.dao.entity.UserEntity">
        select ${columns} from tab_user

        where name in
        <foreach item="item" index="index" collection="names" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="queryMaxUserId" resultType="java.lang.Long">
        select max(id) from tab_user
    </select>

    <insert id="insertUsersByTable">
        insert into ${table}
        (id,
        name,
        age,
        address,
        birthday)
        select st.*
        from
        (
        <foreach collection="users" item="item" index="index" separator="union all">
            select
            #{item.id} id,
            #{item.name} name,
            #{item.age} age,
            #{item.address} address,
            #{item.birthday} birthday
            from dual
        </foreach>
        ) st
    </insert>

    <insert id="saveUserBatch">
        INSERT INTO tab_user(ename,gender,email,did)
        VALUES
        <foreach collection="emps" item="emp" separator=",">
            (#{emp.eName},#{emp.gender},#{emp.email},#{emp.dept.id})
        </foreach>
    </insert>


</mapper>
