<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fit.user.dao.UserDao">

    <select id="queryAllUsers" resultType="com.fit.user.dao.entity.UserEntity">
        select * from tab_user
    </select>

    <select id="queryUsersByName" parameterType="list" resultType="com.fit.user.dao.entity.UserEntity">
        select * from tab_user
        where name in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <select id="querySthUsersByName" resultType="com.fit.user.dao.entity.UserEntity">
        select ${columns} from tab_user
        where name in
        <foreach item="item" index="index" collection="names" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <select id="queryUsersByMap" parameterType="map" resultType="com.fit.user.dao.entity.UserEntity">
        select ${columns} from tab_user

        where name in
        <foreach item="item" index="index" collection="names" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="queryMaxUserId" resultType="java.lang.Long">
        select max(id) from tab_user
    </select>

    <insert id="insertUsersByTable">
        insert into ${table}
        (id,
        name,
        age,
        address,
        birthday)
        select st.*
        from
        (
        <foreach collection="users" item="item" index="index" separator="union all">
            select
            #{item.id} id,
            #{item.name} name,
            #{item.age} age,
            #{item.address} address,
            #{item.birthday} birthday
            from dual
        </foreach>
        ) st
    </insert>

    <insert id="saveMonitorThreshold">
        INSERT INTO tms_monitor_threshold(app_name,module_name,module_name_en,threshold_value,phone_number,ivr_type,is_enable)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.appName},#{item.moduleName},#{item.moduleNameEn},#{item.thresholdValue},#{item.phoneNumber},#{item.ivrType},#{item.isEnable})
        </foreach>
    </insert>


    <select id="ifTableExist" parameterType="string" resultType="boolean">
       select count(1) as cnt from user_tables where table_name = #{tableName}
    </select>

    <update id="createMonitorTable">
        create table TMS_MONITOR
        (
          app_name       VARCHAR2(100),
          instance_id    VARCHAR2(100),
          module_name_en VARCHAR2(500),
          module_name    VARCHAR2(500),
          value          NUMBER(6),
          unit           VARCHAR2(20),
          stattime       NUMBER(11)
        );
        create index IDX_TMS_MONITOR_TIME on TMS_MONITOR (STATTIME);
    </update>

    <update id="createMonitorThresholdTable">
        create table TMS_MONITOR_THRESHOLD
        (
          app_name        VARCHAR2(200),
          module_name     VARCHAR2(200),
          module_name_en  VARCHAR2(200),
          threshold_value NUMBER(6),
          phone_number    VARCHAR2(500),
          ivr_type        NUMBER(2) default 1,
          is_enable       NUMBER(2) default 0
        );
        comment on column TMS_MONITOR_THRESHOLD.phone_number
          is '英文逗号隔开';
        comment on column TMS_MONITOR_THRESHOLD.ivr_type
          is '1:SMS 2:IVR';
    </update>



</mapper>
